
<div class="dropdown float-right">
    <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">
      <span id="selected">Select Your Language</span><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><%= link_to "English",root_path(locale: :en)%></li>
    <li><%= link_to "German", root_path(locale: :ger)%></li>
  </ul>
</div>
<div class="container-contact100">
	<div class="wrap-contact100">
		
		<%= form_for(@contact, :html => {class: "contact100-form validate-form"}) do |f| %>
			<span class="contact100-form-title">					
				 <%= t('title') %>
			</span>

			<label class="label-input100" for="first-name"><%= t('first_name') %></label>
			<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Type first name">
				<%= f.text_field :first_name, id: "first-name", class: "input100", placeholder:"#{t'fname_placeholder'}"%>
				<span class="focus-input100"></span>
			</div>
			<div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Type last name">
				<%= f.text_field :last_name, id: "last-name", class: "input100", placeholder:"#{t 'lname_placeholder'}"%>
				<span class="focus-input100"></span>
			</div>

			<label class="label-input100" for="email"><%= t('email') %> *</label>
			<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
				<%= f.email_field :email, id: "email", class: "input100", placeholder:"Eg. example@email.com"%>
				<span class="focus-input100"></span>
			</div>

			<label class="label-input100" for="phone"><%= t('phone_number') %></label>
			<div class="wrap-input100">
				<%= f.text_field :phone_number, id: "phone_number", class: "input100", placeholder:"Eg. +1 800 000000"%>
				<span class="focus-input100"></span>
			</div>

			<label class="label-input100" for="message"><% t('message')%> *</label>
			<div class="wrap-input100 validate-input" data-validate = "Message is required">
				<%= f.text_area :message, id: "message", class: "input100", placeholder:"#{t('message_placeholder')}"%>
				<span class="focus-input100"></span>
			</div>

			<div class="container-contact100-form-btn">
				<button class="contact100-form-btn">
					<%= t('send')%>
				</button>
			</div>
		<%end%>
		
		<div class="contact100-more flex-col-c-m" style="background-image: url(<%=asset_path('bg-01.jpg') %>);">
			<div class="flex-w size1 p-b-47">
				<div class="txt1 p-r-25">
					<span class="lnr lnr-map-marker"></span>
				</div>

				<div class="flex-col size2">
					<span class="txt1 p-b-20">
						Address
					</span>

					<span class="txt2">
						Mada Center 8th floor, 379 Hudson St, New York, NY 10018 US
					</span>
				</div>
			</div>

			<div class="dis-flex size1 p-b-47">
				<div class="txt1 p-r-25">
					<span class="lnr lnr-phone-handset"></span>
				</div>

				<div class="flex-col size2">
					<span class="txt1 p-b-20">
						Lets Talk
					</span>

					<span class="txt3">
						+1 800 1236879
					</span>
				</div>
			</div>

			<div class="dis-flex size1 p-b-47">
				<div class="txt1 p-r-25">
					<span class="lnr lnr-envelope"></span>
				</div>

				<div class="flex-col size2">
					<span class="txt1 p-b-20">
						General Support
					</span>

					<span class="txt3">
						contact@example.com
					</span>
				</div>
			</div>
		</div>
	</div>
</div>



	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});

		 window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-23581568-13');
	</script>